/* body {  */
.output {
            font: 1rem 'Fira Sans' , sans-serif;
        }
h1 {
    text-align: center;
}
.imagenes {
    text-align: center;
}

header h1{
    background-color: rgb(192, 134, 68);
    color: #00ff21;
    font-size: 48px;
    font-weight: 100;
  /*   animation: mover 3s ease infinite; Aplicar animación llamada "mover" */
} 
 
    
/* } */

.mnu {
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición del color de fondo */

}
.mnu:hover {
    background-color: #3ce761; /* Nuevo color de fondo al pasar el cursor */
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.destinos {
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 50px;
    border-radius: 5px;
}

@keyframes mover {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(200px);
    }
}

.carousel-inner {
    text-align: center;
    
    
}
#container {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    transition: transform;
}
.card:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    transform: scale(1.1);
}
/*

   /* Agregar una clase de estilo según las vacantes */
  .bajo-vacantes {
    border: 2px solid red;
  }
  
  #buscador {
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
